/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@500&family=Roboto+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand&family=Roboto+Mono&display=swap');

:root {
    --foreground-color: #111111;
    --background-color: #f7f7f7;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--foreground-color);
    background-color: #444444;
    margin: auto;
    max-width: 8.5in;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 20rem;
    text-align: justify;
}

div.table-of-contents {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a.table-of-contents-link {
    text-decoration: none;
    color: #550000;
}

a.table-of-contents-link:hover {
    transform: translateX(1rem);
    transition: transform ease-in-out 1s;
}

li {
    margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.header {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

div.document {
    background-color: var(--background-color);
    padding: 1in;
    box-shadow: black 0px 0px 5px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

div.error {
    background-color: #ffCCCC;
    border: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.error-title {
    background-color: #ff7777;
    font-weight: bold;
    padding: 0.1rem 0.3rem;
}

div.error-details {
    padding: 0.5rem;
    word-wrap: break-word;
    font-size: 0.6rem;
}

.code {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 0.05rem 0.2rem;
    color: #770077;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    font-style: normal;
}

.literal {
    color: #0033ff;
    font-weight: bold;
    font-size: 0.95rem;
}